body{
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    overflow: hidden;
    height: 600px;
    width: 100vw;
    background: linear-gradient(rgba(213, 214, 219, 0.8), rgba(196, 185, 189, 0.8)), url(./assets/images/railway-station.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}